.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background-color: $color-background-nav;
        &_menu {
            background-color: $color-background-nav;
            height: auto;
            width: auto;
            list-style: none;
            display: flex;
            gap: 15px;
            font-style: oblique;
            a {
                text-decoration: none;
                color: $color-texto-principal;
                font-size: 20px;
                }
            }
    
        &_boton {
            background-color: $color-btn-reg;
            color: #fff;
            padding: 10px 15px;
            border: none;
            font-size: 16px;
                a {
                    text-decoration: none;
                    color: #fff;
                }
                &:hover {
                    background-color: #272e35;
                }
        }
       
    }
    .title{
        font-family: Georgia, 'Times New Roman', Times, serif;
        height: auto;
        font-size: 50px;
        padding: 10px;
        max-width: 100%;
        margin-right: 20px; 

    }
    .container-fluid{
        background-color: $color-background-nav;
    }
    .nav-link{
        color: $color-texto-principal;
        font-size: 20px;
        transition: 1s;
    } 
    .nav-link:hover{
        transform: translate(0px,-10px);
}
